body{
                margin:0;
                padding:0;
                width:100%;
                background-color: black;
            }
            header{
                background-color:#00EEFF;
                padding:10px;
                height:100px;
                cursor: pointer;
                margin-bottom: 10px;
            }
            header h1{
                margin:0px;
                font-family: 'Audiowide', cursive;
            }
            .Title{
                height:75px;
                font-size:25px;
                text-align:center;
            }
            .navbar{
                height:25px;
                font-size: 20px;
                font-family: 'Audiowide', cursive;
                text-align: center;
            }
            header a{
                margin:5px;
                padding:5px;
            }
            header a:hover{
                color:#00727A;
            }
